body {
  background-color: #ADD8E6 ;
  background position: center ;
  font-size: 25px;
  font-family: Marker Felt, Fantasy;
  background-repeat: no-repeat;
  border-color: none;
}


h1 {
  font size: 30px;
  border: 2 px solid black;
  text-align: center;

}
